@font-face {
    font-family: 'League Gothic';
    src: url('https://github.com/D1ag0n-Young/IMG/tree/master/revealjs/theme/fonts/league-gothic/league-gothic.eot');
    src: url('https://github.com/D1ag0n-Young/IMG/tree/master/revealjs/theme/fonts/league-gothic/league-gothic.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/D1ag0n-Young/IMG/tree/master/revealjs/theme/fonts/league-gothic/league-gothic.woff') format('woff'),
         url('https://github.com/D1ag0n-Young/IMG/tree/master/revealjs/theme/fonts/league-gothic/league-gothic.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
